.example-form {
  min-width: 300px;
  max-width: 500px;
}

.row {
  margin:0;
}

.example-full-width {
  width: 100%;
}

.container {
  border-right: 2px solid purple;
  padding-bottom: 35px;
  padding-right: 25px;
  justify-content: center;
  display: flex;
  height: 92.5vh;
}

.center {
  justify-content: center;
  display: flex;
}

.button-position {
  justify-content: end;
  display: flex;
}

.card-border {
  border: 2px solid black;
  margin: 20px 20px 0 0;
  min-width: 230px;
  max-width: 250px;
}



@media screen and (max-width: 767px) {
  .col-5 {
    width: 100%;
  }

  .container {
    border-right:none;
    display: flex;
    justify-content: center;
    height: 100%;
    border-bottom:none;
    padding-right: 10px;
  }

  .center {
    border-top: solid 2px black;
  }

  .button-position {
    justify-content: center;
    display: flex;
  }
}