<app-header-view></app-header-view>
<div class="row">
  <div class="col-md-5 col-sm-12">
    <div class="container pt-3 create-account-form">
      <form
        [formGroup]="countForm"
        class="example-form"
        (ngSubmit)="addOrder()"
      >
        <h1 class="text-center">Beräkna utdrag</h1>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Effekten</mat-label>
          <input
            matInput
            type="number"
            formControlName="effect"
            placeholder="0"
          />
        </mat-form-field>

        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Spänningen</mat-label>
          <input
            matInput
            type="number"
            formControlName="voltage"
            placeholder="0"
          />
        </mat-form-field>

        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Uppvärmda längden</mat-label>
          <input
            matInput
            type="number"
            formControlName="heatedLength"
            placeholder="0"
          />
        </mat-form-field>

        <div class="justify-content-end d-flex">
          <button mat-raised-button>Beräkna</button>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-7 col-sm-12">
    <div class="row center">
      <div *ngIf="showText" class="text-center pt-3">
        <h2>Tillverkningsdata</h2>
      </div>
      <div *ngFor="let data of okResults.slice(0, 6)" class="col card-border">
        <p class="border-u">
          Utdrag (mellan 2-4): {{ data.u }} mm
        </p>
        <p><b>Lindningsmotstånd: </b> {{ data.rLind }} ({{data.lowerLimit}}-{{data.upperLimit}}) ohm</p>
        <p><b>Tråddiameter: </b> {{ data.wireDiameter }} mm</p>
        <p><b>Dorndiameter: </b> {{ data.dornDiameter }} mm</p>
        <p><b>Varv: </b> {{ data.numberOfLaps }} x 2</p>
        <p><b>Utdragen längd: </b>{{ data.lK }} x 2 mm</p>
        <p><b>Ytbelastning: </b>{{ data.surfacePressure }} W/cm²</p>
        <div class="text-center good-to-know-text">
          <i>~ Ytbelastning Patron: {{ data.surfacePressureCartridge }} W/cm² ~</i>
          <p *ngIf="!deltaConnection"><i>~ Patronen Y-kopplas ~</i></p>
          <p *ngIf="deltaConnection"><i>~ Patronen D-kopplas ~</i></p>
        </div>
      </div>
    </div>
  </div>
</div>