<app-header-view></app-header-view>
<div class="row">
  <div class="col-md-5 col-sm-12">
    <div class="container pt-3">
      <form [formGroup]="countForm" class="example-form" (ngSubmit)="addOrder()">
        <h4>Beräkna utdrag</h4>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Effekten</mat-label>
          <input matInput type="number" formControlName="effect" placeholder="0">
        </mat-form-field>

        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Spänningen</mat-label>
          <input matInput type="number" formControlName="voltage" placeholder="0">
        </mat-form-field>

        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Uppvärmda längden</mat-label>
          <input matInput type="number" formControlName="heatedLength" placeholder="0">
        </mat-form-field>

        <div class="button-position">
          <button mat-raised-button>Beräkna</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-7 col-sm-12">
    <div class="row center">
      <div *ngFor="let data of okResultat.slice(0,6)" class="col card-border">
        <p><b>Utdrag (mellan 2-4):</b> {{data.u}}</p>
        <p>Lindningsmotstånd: {{data.resistance}}</p>
        <p>Tråddiameter: {{data.wireDiameter}}</p>
        <p>Dorndiameter: {{data.dornDiameter}}</p>
        <p>Varv: {{data.numberOfLaps}} x 2</p>
        <p>Utdragen längd: {{data.pipeLength}} x 2</p>
        <p>Ytbelastning: {{data.surfacePressure}}</p>
      </div>
    </div>
  </div>
</div>



<!-- <div style="border-bottom: solid 2px purple;">
  <h3>FYLL I ORDER</h3>
  <form (ngSubmit)="addOrder()">
    <input type="number" name="effect" [(ngModel)]="effect" placeholder="Effekt">
    <br>
    <input type="number" name="voltage" [(ngModel)]="voltage" placeholder="Spänning">
    <br>
    <input type="number" name="pipeLength" [(ngModel)]="pipeLength" placeholder="Rörlängd">
    <br>
    <button type="submit">Spara</button>
  </form>
</div> -->


<!-- /*DET HÄR ÄR FÖR USERS I FRAMTIDEN*/
<div style="border-bottom: solid 2px black">
  <h3>LÄGG TILL USER</h3>
  <form #form="ngForm" (ngSubmit)="addData(form)">
    <input type="text" name="name" ngModel />
    <br />
    <input type="password" name="password" ngModel />
    <br />
    <button type="submit">Spara</button>
  </form>
</div>
<div style="border-bottom: solid 2px green;">
  <h3>ALLA USERS</h3>
  <ul>
    <li *ngFor="let data of userData$ | async">
      {{ data.name }} /
      {{ data.password }}
      <button (click)="updateData(data.id)">Ändra</button>
      <button (click)="deleteData(data.id)">Ta bort</button>
    </li>
  </ul>
</div> -->